<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="PriyaSuite" skipfailedinvocationcounts="false" 
     data-provider-thread-count="1" annotations="JDK">

    
	<listeners>
             <listener class-name="com.clientN.reports.WebTestListeners" />
             
       </listeners>
	
	 <test verbose="2" name="Simple_API_Assesement" annotations="JDK">
    <classes>     
    <!-- <all class files are execued so method name is not used in testng.xml> -->		
     		 <class name="com.clientN.testscripts.AcceptanceCriteriaTest1"/>
    </classes>
    </test> 
    
    
    

    
    
</suite>