<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression">
  <listeners>
  <listener class-name="TestPackage.Listeners"/>
  </listeners>
  <test name="Module1">
  <parameter name="url" value="http://www.qaclickacademy.com/"/>
    <classes>
      <class name="TestPackage.TestClass2"/>
      <class name="TestPackage.TestClass1"/>
    </classes>
  </test> 
  
  <test name="Module2">
    <classes>
      <class name="TestPackage2.TestClass4"/>
      <class name="TestPackage2.TestClass3"/>     
    </classes>
  </test> 
</suite> 